---
import Layout from "../layouts/Layout.astro";
import SocialLinks from "../components/SocialLinks.astro";
---

<Layout title="Noé Júnior">
  <div class="space-y-8">
    <section class="space-y-4 py-16">
      <h1 class="text-4xl font-bold">Olá, meu nome é Noé Júnior</h1>
      <p class="text-xl text-gray-600 dark:text-gray-400">
        Desenvolvedor de software e Empreendedor, entusiasta de código aberto e
        criador de produtos. Nos meus tempos livres gosto de jogar, dormir, ler,
        ver animes e aprender 'coisas díficeis'.
      </p>
      <SocialLinks />
    </section>

  </div>
</Layout>
