---
---
<section class="space-y-4 p-4 border border-gray-200 dark:border-gray-800 rounded-lg">
  <h2 class="text-xl font-semibold">Mensagem anônima</h2>
  <form class="space-y-4">
    <textarea class="w-full p-2 bg-gray-100 dark:bg-gray-800 border border-gray-300 dark:border-gray-700 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" rows="4" placeholder="Escreva sua mensagem aqui. Será um prazer ler."></textarea>
    <button type="submit" class="px-4 py-2 font-bold text-gray-800 bg-gray-200 rounded-md hover:bg-gray-300 dark:text-gray-200 dark:bg-gray-700 dark:hover:bg-gray-600">Enviar</button>
  </form>
</section>
