---
import { Github, Linkedin, Facebook } from 'lucide-react';
---

<div class="flex space-x-4 items-center">
  <a
    href="https://github.com/noejunior792"
    target="_blank"
    rel="noopener noreferrer"
    class="text-gray-600 hover:text-blue-500 dark:text-gray-400 dark:hover:text-blue-400 transition-colors"
    aria-label="Visit GitHub Profile"
  >
    <span class="sr-only">GitHub</span>
    <Github size={24} />
  </a>
  <a
    href="https://linkedin.com/in/noejunior299"
    target="_blank"
    rel="noopener noreferrer"
    class="text-gray-600 hover:text-blue-500 dark:text-gray-400 dark:hover:text-blue-400 transition-colors"
    aria-label="Visit LinkedIn Profile"
  >
    <span class="sr-only">LinkedIn</span>
    <Linkedin size={24} />
  </a>
  <a
    href="https://facebook.com/noe.dombaxe"
    target="_blank"
    rel="noopener noreferrer"
    class="text-gray-600 hover:text-blue-500 dark:text-gray-400 dark:hover:text-blue-400 transition-colors"
    aria-label="Visit Facebook Profile"
  >
    <span class="sr-only">Facebook</span>
    <Facebook size={24} />
  </a>
</div>